html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#610261,#9f1c9f);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', Arial;
}

h1.title{
    font-size: 3em;
    margin-bottom: 1em;
    font-family: "Permanent Marker", "Helvetica";
    display: block;
    margin-top: 0;
}

p{
    font-size: 1.6em;
    letter-spacing: .5px;
    font-weight: 400;
}

.desktop-message{
    display: none;
}

main{
    display: block;
}

main button{
    background: white;
    padding: .1em .7em;
    border-radius: .2em;
    display: block;
    margin: 2em auto;
    font-size: 1.7em;
    border : none;
    font-family: "Teko";
}

@media only screen and (min-width: 500px) {  
    .desktop-message{
        display: block;
        margin: 0 auto;
        color: white;
        position: absolute;
        z-index: 10;
        width: 80%;
        text-align: center;
        font-family: "Teko";
        font-size: 1.5em;
    }

    main{
        display: none;
    }
}