html{
  height: 100%;
}

.hvbrd-icon{
  width: 30%;
}

.score-container {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.5s 4s;
}

canvas { width: 100%; height: 100%;}

.score-container #score {
  color: white;
  font-size: 1em;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 700;
}

body{
  background: repeating-linear-gradient(
    0deg,
    rgb(12,28,90) 0%,
    #5a008a 20%,
    rgb(12,28,90) 50%,
    #5a008a 100%
  );;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.intro, .sun {
  display: none;
}

.mobile-message{
  display: block;
  margin: 0 auto;
  color: white;
  position: absolute;
  z-index: 10;
  width: 80%;
  text-align: center;
  font-family: "Teko";
  font-size: 1.5em;
}

#ThreeJS{
  display: none;
}


@media only screen and (min-width: 500px) {
  .intro{
    position: absolute;
    z-index: 10;
    display: block;
  }

  #ThreeJS {
    display: block;
  }

  .sun{
    width: 15em;
    height: 15em;
    border-radius: 7.5em;
    box-shadow: 0px 0px 75px rgb(237, 71, 93);
    background: linear-gradient(to bottom, orange 1%, yellow 65%,#5a008a 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    z-index: -10;
  }

  .mobile-message{
    display: none;
  }
}

h1.title{
  color: white;
  font-size: 70px;
  text-align: center;
  margin-bottom: 1em;
  font-family: "Permanent Marker", "Helvetica";
  display: block;
  opacity: 1;
  margin-top: 0;
  transition: opacity 1s;
}

div#connect{
  margin: 0 auto;
  display: block;
  background: white;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  opacity: 1;
  padding: 1em;
  font-size: 18px;
  cursor: pointer;
  font-family: "Teko";
  transition: opacity 1s ease-out;
}

div#connect.fade-out{
  opacity: 0;
}

.counter{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(237, 71, 93);
  font-size: 100px;
  z-index: 20;
  transition: display 1s ease-out;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 700;
}

.counter.fade-out{
  display: none;
}

.title.fade-out{
  opacity: 0;
}